---
import EnvelopeIcon from '@fortawesome/fontawesome-free/svgs/regular/envelope.svg'
---

<footer>
  <div class='px-20 py-[100px] max-md:px-6 max-md:py-[60px]'>
    <h2 class='mb-20 max-md:mb-10'>Contact</h2>
    <address class='flex items-center justify-center gap-2.5 not-italic'>
      <EnvelopeIcon class='h-6 w-auto' fill='rgb(75, 126, 232)' />
      <a class='text-[25px] max-md:text-[18px]' href='mailto:itakai199969@gmail.com'>itakai199969@gmail.com</a>
    </address>
  </div>
</footer>
